body {
    margin-right: 5%;
    padding: 0;
    font-family: sans-serif;
}
.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: black 1px solid;
}

.medicineTable{
    margin-top:1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding:9%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.popupContent {
    background-color: #fefefe;
    padding: 2%;
    border: 1px solid #888;
    width: 80%;
}

.medicineDetails{
  color: blue;
}